<form ng-submit="$ctrl.login()">
    <h1>Login</h1>
    <div class="">
        <label for="email">Email</label>
        <input placeholder="someone@something.com" type="email" ng-model="$ctrl.email">
    </div>
    <div class="">
        <label for="password">Password</label>
        <input placeholder="8+ characters, at least one special" type="password" ng-model="$ctrl.password">
    </div>
    <div class="row s-b">
        <input type="submit" name="name" value="Log In">
        <span class="separator">Or Login Using:</span>
        <a ng-click="$ctrl.signInWith('google')" class="button google">
            Google
        </a>
        <a disabled ng-click="$ctrl.signInWith('github')" class="button github">
            Github
        </a>
        <a disabled ng-click="$ctrl.signInWith('facebook')" class="button facebook">
            Facebook
        </a>
        <a disabled ng-click="$ctrl.signInWith('twitter')" class="button twitter">
            Twitter
        </a>
    </div>
</form>
{{$ctrl.state}}
