<nav>
    <a href class="logo" alt="New Game">
    </a>

    <!-- login/register shown for anonymous users -->
    <div ng-if="!$ctrl.user">
        <a class="login-link" href ui-sref="login">login</a>
        <a class="login-link" href ui-sref="register">register</a>
    </div>
    <!-- username/avatar for logged in users -->
    <a class="account-link" ng-if="$ctrl.user" ui-sref="account">
        <span>{{$ctrl.user.displayName}}</span>
        <img class="avatar" ng-src="{{$ctrl.user.photoURL}}">
    </a>
</nav>
