@-webkit-viewport   { width: device-width; }
@viewport           { width: device-width; }

@import "~angular/angular-csp.css";

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
    min-width: 320px;
    box-sizing: border-box;
    background-color: #f3f5f7;
    height: 100%;
}

body {
    color: #323a45;
    font: 400 1em/1.6 brandon-grotesque, "Open Sans", "Helvetica Neue", Arial, sans-serif;
    cursor: default;
    height: 100%;

  height: 100%;
  background-color: #252525;
  background-image: linear-gradient(to bottom, #262626, #1e1e1e);
    background-repeat: no-repeat;
    background-attachment: fixed;
  color:#fefefe;
}

/* contain margins */
body::after,
body::before {
    content: " ";
    display: table;
}


@import './src/pdxpong';
