@-webkit-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}
@import "~angular/angular-csp.css";
@import "./src/common/variables";
*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
    font-size: 13px;
    min-width: 320px;
    box-sizing: border-box;
    height: 100%;
}

body {
    color: @light-grey;
    font: 400 1em/1.6 brandon-grotesque, "Open Sans", "Helvetica Neue", Arial, sans-serif;
    cursor: default;
    height: 100%;
    background-color: @dark-grey;
    background-image: linear-gradient(to bottom, @dark-grey, @black);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* contain margins */
body::after,
body::before {
    content: " ";
    display: table;
}
@import './src/pdxpong';
