<form name="regForm" ng-submit="$ctrl.register()">
    <h1>Register</h1>
    <div class="">
        <label for="email">Email</label>
        <input type="email" ng-model="$ctrl.email">
    </div>
    <div class="">
        <label for="password">Password</label>
        <input type="password" ng-model="$ctrl.password">
    </div>
    <div class="">
        <label for="password">Confirm Password</label>
        <input type="password" ng-model="$ctrl.confirmPassword">
    </div>
    <input ng-disabled="!regForm.$valid" type="button" name="name" value="Sign In">
</form>
{{$ctrl.state}}
