<form name="regForm" ng-submit="$ctrl.register()">
    <h1>Register</h1>
    <div class="">
        <label for="email">
            Email
            <span class="error" ng-if="regForm.email.$error.email">
                Value must be a valid email address
            </span>
        </label>
        <input type="email" name="email" required
                ng-model="$ctrl.email" placeholder="someone@something.com">
    </div>
    <div class="">
        <label for="password">
            Password
            <span class="error" ng-if="regForm.password.$error.minlength">
                Must be at least 6 characters
            </span>
        </label>
        <input type="password" name="password" required
                minlength="6" ng-model="$ctrl.password"
                placeholder="6+ characters">
    </div>
    <div class="">
        <label for="confirmPassword">
            Confirm Password
            <span class="error" ng-if="regForm.confirmPassword.$error.compareTo">
                Must match the password above
            </span>
        </label>
        <input type="password" name="confirmPassword" required
                ng-model="$ctrl.confirmPassword"
                compare-to="$ctrl.password" placeholder="must match above">
    </div>
    <input ng-disabled="!regForm.$valid" type="submit" name="name" value="Create Account">
</form>
<div class="providers">
    <span class="separator">Or Login Using:</span>
    <provider-logins redirect-to="leaderboard"></provider-logins>
</div>
