@import (reference) '../../common/util';
@import (reference) '../../common/variables';

account-profile {
    display: block;

    form {
        .row;
        align-items: flex-start;
    }

    .avatar {
        position: relative;
        width: 200px;

        img {
            max-height: 200px;
            max-width: 200px;
            width: auto;
            margin-top: @gutter+22px; // match the height of a label
        }

        input[type=file] {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        label {
            display: block;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            background: rgba(0,0,0,0.55);
            text-align: right;
            padding: @gutter/2;
            margin: 0;
            color: @blue;
            cursor: pointer;
            font-weight: 900;
            opacity: 0;
            transition: 300ms opacity;
        }

        &:hover label {
            opacity: 1;
        }
    }

    .fields {
        .flex;
    }

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: 4px;

        &::-webkit-progress-bar {
            background-color: @mid-grey;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
        }

        &::-webkit-progress-value {
            background-color: @blue;
            transition:100ms width;
        }
    }
}
